/*import fonts from fonts.css*/

@import url(./font.css);

/* css variables  */

@import url(./partials/variables.css);

/* css gloabl variables  */

@import url(./partials/_global.css);

/* Start navigation */

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */


/*Banner Area*/

.site-main .site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
    content: "";
    height: 2px;
    background: black;
    width: 18vw;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    font-size: 2.7rem;
}

.site-main .site-banner .site-title h4 {
    font-size: 1.3rem;
    font-weight: bold;
}

.site-main .site-banner .banner-image>img {
    padding: 7rem 0;
    width: 90rem;
}

.title-text {
    font: normal bold 50px/72px var(--roboto);
}


/*Banner Area Ends*/


/* about area starts here */

.site-main .about-area {
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2>span {
    display: block;
    font: normal bold 49px / 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph>p {
    padding: .4rem 0;
}


/* about area ends here */


/* Starts brand area */

.site-main .brand-area {
    padding: 1rem 10rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4 {
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4>.single-brand {
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4>.single-brand>img {
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4>.single-brand:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1. 1);
}

.site-main .brand-area .first-row .col-lg-4>.single-brand:hover {
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area {
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span {
    display: block;
}

.site-main .brand-area .experience-area .years-area {
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel {
    position: absolute;
    left: -190px;
    top: 0%;
    background: #fff3e0;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years {
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2>span {
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area {
    padding-left: 10rem;
}


/* End brand area */




/** 
 * ===================================================================
 * 12. resume - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */
#resume {
	padding-top: 12rem;
	padding-bottom: 12rem;
}

#resume .resume-header {
	text-align: center;
}
#resume .resume-header h2 {
	color: #0056b3;
}

#resume .resume-timeline {
	max-width: 980px;
	margin-left:12%;
	margin-right:12%;
}
#resume .timeline-wrap {
	position: relative;
	margin-top: 1.5rem;
	margin-bottom: 6rem;
}
#resume .timeline-wrap::before {
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 35%;
	top: 0;
}
#resume .timeline-block {
	position: relative;
	padding-top: 1.5rem;
}
#resume .timeline-ico {
	height: 4.8rem;
	width: 4.8rem;
	line-height: 4.8rem;
	background: #313131;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	left: 35%;
	top: .9rem;
	margin-left: -2.4rem;
}
#resume .timeline-ico i {
	position: relative;
	left: .05rem;
	top: .2rem;
}

#resume .timeline-header {
	float: left;
	width: 36%;
	padding-right: 90px;
	text-align: right;
}
#resume .timeline-header h3 {
	margin-bottom: 0;
}
#resume .timeline-header p {
	font-family: "poppins-regular", sans-serif;
	font-size: 1.2rem;
	color: #888888;
}
#resume .timeline-content {
	margin-left: 35%;
	padding-left: 60px;
}
#resume .timeline-content h4 {
	position: relative;
	padding-bottom: 1.8rem;
}
#resume .timeline-content h4::after {
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 0;
	bottom: 0;
}

/**
 * responsive:
 * resume
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	#resume .timeline-header {
		padding-right: 50px;
	}
	#resume .timeline-header h3 {
		font-size: 1.8rem;
	}
	#resume .timeline-header p {
		font-size: 1.4rem;
	}
	#resume .timeline-content {
		padding-left: 50px;
	}
}
@media only screen and (max-width:768px) {
	#resume .timeline-wrap::before {
		left: 2.4rem;
	}
	#resume .timeline-ico {
		left: 2.4rem;
	}
	#resume .timeline-header {
		float: none;
		width: auto;
		padding-right: 15px;
		text-align: left;
	}
	#resume .timeline-header h3 {
		font-size: 2rem;
	}
	#resume .timeline-header p {
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
	}
	#resume .timeline-content {
		margin: 0;
	}
	#resume .timeline-content h4 {
		padding-bottom: 0;
		padding-top: 2.1rem;
		margin-bottom: .6rem;
		font-size: 1.7rem;
	}
	#resume .timeline-content h4::after {
		bottom: auto;
		top: 0;
	}
	#resume .timeline-header, #resume .timeline-content {
		padding-left: 7rem;
	}
}
@media only screen and (max-width:480px) {
	#resume .resume-header h2 {
		font-size: 2.2rem;
	}
	#resume .timeline-wrap::before {
		left: 1.8rem;
	}
	#resume .timeline-ico {
		height: 3.6rem;
		width: 3.6rem;
		line-height: 3.6rem;
		left: 1.8rem;
		margin-left: -1.8rem;
		font-size: 1.5rem;
	}
	#resume .timeline-header, #resume .timeline-content {
		padding-left: 5.5rem;
	}
}





/* Services Area starts*/

.site-main .service-area {
    padding: 7rem 2rem;
}

.site-main .service-area .services-title {
    padding: 0 14rem;
}

.site-main .service-area .services-title h1 {
    font-size: 35px;
}

.site-main>.service-area .services {
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main>.service-area .services:hover {
    box-shadow: var(--box-shadow);
}


/* Services Area ends*/


/* Project area starts here */

.site-main .project-area {
    padding: rem 0;
}

.site-main .project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 200 17px/20px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button+button {
    padding: 3rem;
}

.site-main .project-area .grid .our-project>.title h4 {
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
    transition: box-shadow .7s ease;
}

.title-h1 {
    font: normal bold 39px/ 40px var(--roboto);
}


/* Project area ends here */


/* feedback area starts here */

.site-main .about-area .about-title p {
    padding: 1rem 7rem;
}

.site-main .about-area .client {
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img {
    padding: 2rem;
}

.site-main .about-area .client .about-client {
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4 {
    font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p {
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}


/* feedback area ends here */


/* Footer Area */

footer.footer-area {
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5 {
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a>i {
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover>i {
    color: var(--primary-color);
}


/* End Footer */
